* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 140, 0);
}

.header{
    overflow: hidden;
    background-color: #9a24e3;
    
}

/* Style the topnav links */
.header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

