<footer class="content-box">
    <div class="kimWrapper footer-inner">
        <div class="grid">
            <div class="grid-column grid-column-half center-text">
                My buttons!
                <div class="kimButtonGrid">
                    <a href="/about/asexuality">
                        <img
                            src="/assets/images/buttons/asexuals_now.gif"
                            alt="Asexuals NOW!"
                            title="Asexuals NOW!"
                        />
                    </a>
                </div>
            </div>
            <div class="grid-column grid-column-half center-text">
                Some other cool furs!
                <div class="kimButtonGrid">
                    <a href="https://kraafter.me/"
                        ><img
                            src="https://kraafter.me/assets/img/button.png"
                            alt="Kraafter.me button"
                            title="kraaftersite"
                    /></a>
                    <a href="https://tuxedodragon.art">
                        <img
                            src="/assets/images/buttons/tuxedodragon.gif"
                            alt="Tuxedo Dragon's button"
                            title="Tuxedo Dragon's Site"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- buttons! -->
</footer>
